.center {
  margin: 0 auto;
  text-align: center;
}

.slash {
  text-decoration: line-through;
}

button, input[type="submit"] {
  background-color: yellow;
  border: 1px solid black;
}
@media (min-width: 320px) and (max-width: 480px) {

  .center {
    font-size: 24px;
  }
  
}